header{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(25, 25, 225, 0.779);
    padding: 50px;
}
.cardcontainer{
    display: flex;
    justify-content: center;
}

.card{
    margin: 10px;
}

.searchbarcontainer{
    margin: 15px;
    padding-left: 30%;
}